# AI Tools
/.ai/
.agents/
.claude/
.clinerules/
.codebuddy/
.codex/
.cursorrules/
.devin/
.kilo/
.kilocode/
.lingma/
.marscode/
.mimocode/
.opencode/
.qoder/
.trae/
.windsurf/
.zcode/

AGENTS-*.md

# node.js
node_modules/
dist/

# cargo
target/

# IDE
.vscode/
.idea/
.vs/

# dotenv
.env
.env.*
!.env.example

# Obsidian
.obsidian/

.refino/
